* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header.container {
    background-color: lightsalmon;
    border: solid 2px black;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 10px;
    padding: 0px;
 
}

header.container h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

nav.container {
    background-color: lightsalmon;
    border: solid 2px black;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #007BFF;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}



footer.container.footer {
    background-color: lightsalmon;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 0px;

}